<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="in.soa.beans.Airtel" id="Airtel"> 

<property name="Sname" value="pritam"/>
<property name="sid" value="123456789"></property>


</bean>

<bean class="in.soa.beans.Voda" id="Voda"> 

<property name="Sname" value="xxxx"></property>
<property name="sid" value="1987654321"></property>


</bean>
</beans>